.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.wdio-vscode-service
test
submodule/**
.gitmodules

node_modules/**
examples/**
../../../**
../../**
../**
